.UserForm {
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  gap: 3.5vh;
}

.UserForm-CodeSnippets {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  max-width: 400px;
}

.UserForm-Form {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.UserForm-Form input {
  width: 400px;
}

.UserForm-Buttons {
  margin: 0 auto;
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1vw;
  column-gap: 1vh;
}

.UserForm-State {
  margin: 0 auto;
  max-width: 80vw;
}

.UserForm-State p {
  padding: 0;
  margin: 0;
}

.UserForm-Refs {
  margin: 0 auto;
  max-width: 80vw;
}

.UserForm-Refs p {
  padding: 0;
  margin: 0;
}